<div style="border:solid Chocolate 2px; padding: 40px">

<b> –ê–Ω–¥—Ä–µ–π, –ø—Ä–∏–≤–µ—Ç!üëã</b>

–ú–µ–Ω—è –∑–æ–≤—É—Ç –ê–ª–µ–∫—Å–µ–π –ì—Ä–∏–±, –∏ —è –±—É–¥—É —Ä–µ–≤—å—é–µ—Ä–æ–º —Ç–≤–æ–µ–≥–æ –ø—Ä–æ–µ–∫—Ç–∞. 

–°—Ä–∞–∑—É —Ö–æ—á—É –ø—Ä–µ–¥–ª–æ–∂–∏—Ç—å –≤ –¥–∞–ª—å–Ω–µ–π—à–µ–º –æ–±—â–∞—Ç—å—Å—è –Ω–∞ "—Ç—ã" - –Ω–∞–¥–µ—é—Å—å, —Ç–∞–∫ –±—É–¥–µ—Ç –∫–æ–º—Ñ–æ—Ä—Ç–Ω–µ–µ:) –ù–æ –µ—Å–ª–∏ —ç—Ç–æ –Ω–µ—É–¥–æ–±–Ω–æ, –æ–±—è–∑–∞—Ç–µ–ª—å–Ω–æ –¥–∞–π –∑–Ω–∞—Ç—å, –∏ –º—ã –ø—Ä–∏–¥—É–º–∞–µ–º —á—Ç–æ-–Ω–∏–±—É–¥—å –µ—â—ë!
    
–¶–µ–ª—å —Ä–µ–≤—å—é - –Ω–µ –∏—Å–∫–∞—Ç—å –æ—à–∏–±–∫–∏ –≤ —Ç–≤–æ—ë–º –ø—Ä–æ–µ–∫—Ç–µ, –∞ –ø–æ–º–æ—á—å —Ç–µ–±–µ —Å–¥–µ–ª–∞—Ç—å —Ç–≤–æ—é —Ä–∞–±–æ—Ç—É –µ—â—ë –ª—É—á—à–µ, —É—Å—Ç—Ä–∞–Ω–∏–≤ –Ω–µ–¥–æ—á—ë—Ç—ã –∏ –ø—Ä–∏–±–ª–∏–∑–∏–≤ –µ—ë –∫ —Ä–µ–∞–ª—å–Ω—ã–º –∑–∞–¥–∞—á–∞–º –∞–Ω–∞–ª–∏—Ç–∏–∫–∞. –ü–æ—ç—Ç–æ–º—É –Ω–µ —Ä–∞—Å—Å—Ç—Ä–∞–∏–≤–∞–π—Å—è, –µ—Å–ª–∏ —á—Ç–æ-—Ç–æ –Ω–µ –ø–æ–ª—É—á–∏–ª–æ—Å—å —Å –ø–µ—Ä–≤–æ–≥–æ —Ä–∞–∑–∞ - —ç—Ç–æ –Ω–æ—Ä–º–∞–ª—å–Ω–æ, –∏ —ç—Ç–æ –ø–æ–º–æ–∂–µ—Ç —Ç–µ–±–µ –≤—ã—Ä–∞—Å—Ç–∏!
    
–¢—ã –º–æ–∂–µ—à—å –Ω–∞–π—Ç–∏ –º–æ–∏ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏, –æ–±–æ–∑–Ω–∞—á–µ–Ω–Ω—ã–µ <font color='green'>–∑–µ–ª–µ–Ω—ã–º</font>, <font color='gold'>–∂–µ–ª—Ç—ã–º</font> –∏ <font color='red'>–∫—Ä–∞—Å–Ω—ã–º</font> —Ü–≤–µ—Ç–∞–º–∏, –Ω–∞–ø—Ä–∏–º–µ—Ä:

<br/>

<div class="alert alert-success">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ <a class="tocSkip"> </h2>

<b>–í—Å–µ –æ—Ç–ª–∏—á–Ω–æ!üëç:</b> –ø–æ—Ö–≤–∞–ª–∞, —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–∏ ¬´—Å–æ –∑–≤—ë–∑–¥–æ—á–∫–æ–π¬ª, –ø–æ–ª–µ–∑–Ω—ã–µ –ª–∞–π—Ñ—Ö–∞–∫–∏, –∫–æ—Ç–æ—Ä—ã–µ —Å–¥–µ–ª–∞—é—Ç –∏ –±–µ–∑ —Ç–æ–≥–æ –∫—Ä–∞—Å–∏–≤–æ–µ —Ä–µ—à–µ–Ω–∏–µ –µ—â—ë –±–æ–ª–µ–µ —ç–ª–µ–≥–∞–Ω—Ç–Ω—ã–º.
</div>

<br/>

<div class="alert alert-warning">
    <h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ <a class="tocSkip"> </h2>
    
<b>–ù–µ–∫–æ—Ç–æ—Ä—ã–µ –∑–∞–º–µ—á–∞–Ω–∏—è –∏ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–∏‚ö†Ô∏è:</b> –Ω–µ–∫—Ä–∏—Ç–∏—á–Ω—ã–µ –æ—à–∏–±–∫–∏ –∏–ª–∏ —Ä–∞–∑–≤–∏–≤–∞—é—â–∏–µ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–∏ –Ω–∞ –±—É–¥—É—â–µ–µ. 
</div>


<br/>
<div class="alert alert-block alert-danger">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ <a class="tocSkip"></h2>

    
<b>–ù–∞ –¥–æ—Ä–∞–±–æ—Ç–∫—É‚ùå:</b>
–ö—Ä–∏—Ç–∏—á–Ω—ã–µ –æ—à–∏–±–∫–∏, –∫–æ—Ç–æ—Ä—ã–µ –æ–±—è–∑–∞—Ç–µ–ª—å–Ω–æ –Ω—É–∂–Ω–æ –∏—Å–ø—Ä–∞–≤–∏—Ç—å.
</div>

–Ø –Ω–µ —Å–º–æ–≥—É –ø—Ä–∏–Ω—è—Ç—å –ø—Ä–æ–µ–∫—Ç, –µ—Å–ª–∏ –≤ –Ω—ë–º –±—É–¥–µ—Ç —Ö–æ—Ç—è –±—ã –æ–¥–Ω–∞ –∫—Ä–∏—Ç–∏—á–Ω–∞—è –æ—à–∏–±–∫–∞ –∏–ª–∏ –Ω–µ—Å–∫–æ–ª—å–∫–æ –Ω–µ–∫—Ä–∏—Ç–∏—á–Ω—ã—Ö –æ—à–∏–±–æ–∫ - —Ç–æ–≥–¥–∞ –ø—Ä–æ–µ–∫—Ç –Ω—É–∂–Ω–æ –±—É–¥–µ—Ç –Ω–µ–º–Ω–æ–≥–æ –¥–æ—Ä–∞–±–æ—Ç–∞—Ç—å. –ù–æ —ç—Ç–æ –Ω–µ—Å—Ç—Ä–∞—à–Ω–æ - —è –æ–±—è–∑–∞—Ç–µ–ª—å–Ω–æ –¥–∞–º —Ç–µ–±–µ –ø–æ–¥—Å–∫–∞–∑–∫—É –∏–ª–∏ —É–∫–∞–∂—É –≤–µ—Ä–Ω–æ–µ –Ω–∞–ø—Ä–∞–≤–ª–µ–Ω–∏–µ.
    
–ü–æ–∂–∞–ª—É–π—Å—Ç–∞, –Ω–µ —É–¥–∞–ª—è–π –º–æ–∏ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏, –æ–Ω–∏ –±—É–¥—É—Ç –æ—Å–æ–±–µ–Ω–Ω–æ –ø–æ–ª–µ–∑–Ω—ã –¥–ª—è –Ω–∞—à–µ–π —Ä–∞–±–æ—Ç—ã –≤ —Å–ª—É—á–∞–µ –ø–æ–≤—Ç–æ—Ä–Ω–æ–π –ø—Ä–æ–≤–µ—Ä–∫–∏ –ø—Ä–æ–µ–∫—Ç–∞. 
    
–¢—ã —Ç–∞–∫–∂–µ –º–æ–∂–µ—à—å –∑–∞–¥–∞–≤–∞—Ç—å —Å–≤–æ–∏ –≤–æ–ø—Ä–æ—Å—ã, —Ä–µ–∞–≥–∏—Ä–æ–≤–∞—Ç—å –Ω–∞ –º–æ–∏ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏, –¥–µ–ª–∞—Ç—å –ø–æ–º–µ—Ç–∫–∏ –∏ –ø–æ—è—Å–Ω–µ–Ω–∏—è - –ø–æ–ª–Ω–∞—è —Ç–≤–æ—Ä—á–µ—Å–∫–∞—è —Å–≤–æ–±–æ–¥–∞! –ù–æ –º–∞–ª–µ–Ω—å–∫–∞—è –ø—Ä–æ—Å—å–±–∞ - –ø—É—Å–∫–∞–π –æ–Ω–∏ –±—É–¥—É—Ç –æ—Ç–ª–∏—á–∞—Ç—å—Å—è –æ—Ç –º–æ–∏—Ö –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–µ–≤, —ç—Ç–æ –ø–æ–º–æ–∂–µ—Ç –∏–∑–±–µ–∂–∞—Ç—å –ø—É—Ç–∞–Ω–∏—Ü—ã –≤ –Ω–∞—à–µ–º –æ–±—â–µ–Ω–∏–∏:)
–ù–∞–ø—Ä–∏–º–µ—Ä, –≤–æ—Ç —Ç–∞–∫:
    
<div class="alert alert-info">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Å—Ç—É–¥–µ–Ω—Ç–∞ <a class="tocSkip"> </h2>

*—Ç–≤–æ–π —Ç–µ–∫—Å—Ç*
</div>
    
–î–∞–≤–∞–π –ø–æ—Å–º–æ—Ç—Ä–∏–º –Ω–∞ —Ç–≤–æ–π –ø—Ä–æ–µ–∫—Ç!

<div class="alert alert-info">
<h2> –ó–¥—Ä–∞–≤—Å—Ç–≤—É–π—Ç–µ, –ê–ª–µ–∫—Å–µ–π <a class="tocSkip"> </h2>

—è –ø–µ—Ä–µ–¥–µ–ª–∞–ª 4 –∑–∞–¥–∞–Ω–∏–µ 
</div>

–ö–æ—Ä–æ–Ω–æ–≤–∏—Ä—É—Å –∑–∞—Å—Ç–∞–ª –º–∏—Ä –≤ —Ä–∞—Å–ø–ª–æ—Ö, –∏–∑–º–µ–Ω–∏–≤ –ø—Ä–∏–≤—ã—á–Ω—ã–π –ø–æ—Ä—è–¥–æ–∫ –≤–µ—â–µ–π. –í —Å–≤–æ–±–æ–¥–Ω–æ–µ –≤—Ä–µ–º—è –∂–∏—Ç–µ–ª–∏ –≥–æ—Ä–æ–¥–æ–≤ –±–æ–ª—å—à–µ –Ω–µ –≤—ã—Ö–æ–¥—è—Ç –Ω–∞ —É–ª–∏—Ü—É, –Ω–µ –ø–æ—Å–µ—â—è—é—Ç –∫–∞—Ñ–µ –∏ —Ç–æ—Ä–≥–æ–≤—ã–µ —Ü–µ–Ω—Ç—Ä—ã.  –ó–∞—Ç–æ —Å—Ç–∞–ª–∏ –±–æ–ª—å—à–µ –≤—Ä–µ–º–µ–Ω–∏ –¥–ª—è –∫–Ω–∏–≥ . –≠—Ç–æ –∑–∞–º–µ—Ç–∏–ª–∏ —Å—Ç–∞—Ä—Ç–∞–ø–µ—Ä—ã ‚Äì –∏ –±—Ä–æ—Å–∏–ª–∏—Å—å —Å–æ–∑–¥–∞–≤–∞—Ç—å –ø—Ä–∏–ª–æ–∂–µ–Ω–∏–µ –¥–ª—è —Ç–µ—Ö, –∫—Ç–æ –ª—é–±–∏—Ç —á–∏—Ç–∞—Ç—å.

–ú–æ—è –∫–æ–º–ø–∞–Ω–∏—è —Ä–µ—à–∏–ª–∞ –±—ã—Ç—å –Ω–∞ –≤–æ–ª–Ω–µ –∏ –∫—É–ø–∏–ª–∞ –∫—Ä—É–ø–Ω—ã–π —Å–µ—Ä–≤–∏—Å –¥–ª—è —á—Ç–µ–Ω–∏—è –∫–Ω–∏–≥ –ø–æ –ø–æ–¥–ø–∏—Å–∫–µ.

–ú–æ—è –ø–µ—Ä–≤–∞—è –∑–∞–¥–∞—á–∞ –ø—Ä–æ–∞–Ω–∞–ª–∏–∑–∏—Ä–æ–≤–∞—Ç—å –±–∞–∑—É –¥–∞–Ω–Ω—ã—Ö.
–í –Ω–µ–π ‚Äì –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è –æ –∫–Ω–∏–≥–∞—Ö, –∏–∑–¥–∞—Ç–µ–ª—è—Ö –∞–≤—Ç–æ—Ä–∞—Ö, –∞ —Ç–∞–∫–∂–µ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏–µ –æ–±–∑–æ—Ä—ã –∫–Ω–∏–≥. –≠—Ç–∏ –¥–∞–Ω–Ω—ã–µ –ø–æ–º–æ–≥—É—Ç —Å—Ñ–æ—Ä–º—É–ª–∏—Ä–æ–≤–∞—Ç—å —Ü–µ–Ω–Ω–æ—Å—Ç–Ω–æ–µ –ø—Ä–µ–¥–ª–æ–∂–µ–Ω–∏–µ –¥–ª—è –Ω–æ–≤–æ–≥–æ –ø—Ä–æ–¥—É–∫—Ç–∞.

<div class="alert alert-success">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ <a class="tocSkip"> </h2>

<b>–í—Å–µ –æ—Ç–ª–∏—á–Ω–æ!üëç:</b> –•–æ—Ä–æ—à–µ–µ –≤—Å—Ç—É–ø–ª–µ–Ω–∏–µ!
    
–í –Ω—ë–º –µ—Å—Ç—å –≤—Å—ë, —á—Ç–æ –Ω–µ–æ–±—Ö–æ–¥–∏–º–æ, —á—Ç–æ–±—ã –ø–æ–Ω—è—Ç—å —Å—É—Ç—å –ø—Ä–æ–µ–∫—Ç–∞ —Å –ø–µ—Ä–≤—ã—Ö —Å—Ç—Ä–æ–∫ –æ—Ç—á—ë—Ç–∞!

### –∑–∞–≥—Ä—É–∑–∏–º –Ω–µ–æ–±—Ö–æ–¥–∏–º—ã–µ –±–∏–±–ª–∏–æ—Ç–µ–∫–∏

In [1]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in d:\anaconda\lib\site-packages (1.4.39)
Requirement already satisfied: greenlet!=0.4.17 in d:\anaconda\lib\site-packages (from sqlalchemy) (2.0.1)

In [2]:
pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in d:\anaconda\lib\site-packages (2.9.6)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

# –∏–º–ø–æ—Ä—Ç–∏—Ä—É–µ–º –±–∏–±–ª–∏–æ—Ç–µ–∫–∏
from sqlalchemy import create_engine 
import pandas as pd
from sqlalchemy import text, create_engine

In [4]:
# —É—Å—Ç–∞–Ω–∞–≤–ª–∏–≤–∞–µ–º –ø–∞—Ä–∞–º–µ—Ç—Ä—ã
db_config = {'user': 'praktikum_student', # –∏–º—è –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è
'pwd': 'Sdf4$2;d-d30pp', # –ø–∞—Ä–æ–ª—å
'host': 'rc1b-wcoijxj3yxfsf3fs.mdb.yandexcloud.net',
'port': 6432, # –ø–æ—Ä—Ç –ø–æ–¥–∫–ª—é—á–µ–Ω–∏—è
'db': 'data-analyst-final-project-db'} # –Ω–∞–∑–≤–∞–Ω–∏–µ –±–∞–∑—ã –¥–∞–Ω–Ω—ã—Ö
connection_string = 'postgresql://{user}:{pwd}@{host}:{port}/{db}'.format(**db_config)

# —Å–æ—Ö—Ä–∞–Ω—è–µ–º –∫–æ–Ω–Ω–µ–∫—Ç–æ—Ä
engine = create_engine(connection_string, connect_args={'sslmode':'require'})
con=engine.connect()

<div class="alert alert-success">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ <a class="tocSkip"> </h2>

<b>–í—Å–µ –æ—Ç–ª–∏—á–Ω–æ!üëç:</b> –ë–∏–±–ª–∏–æ—Ç–µ–∫–∏ –∏–º–ø–æ—Ä—Ç–∏—Ä–æ–≤–∞–ª–∏, –∫–æ–Ω–Ω–µ–∫—Ç–æ—Ä —Å–¥–µ–ª–∞–ª–∏ - –æ—Ç–ª–∏—á–Ω–æ!

–í—Å–µ–≥–æ –∏–∑ –±–∞–∑—ã –≤–∑—è—Ç–æ 5 —Ç–∞–±–ª–∏—Ü. –û—Ç–∫—Ä–æ–µ–º –∏ –ø—Ä–æ—Å–º–æ—Ç—Ä–∏–º –ø–µ—Ä–≤—ã–µ —Å—Ç—Ä–æ–∫–∏ –∫–∞–∂–¥–æ–π —Ç–∞–±–ª–∏—Ü—ã –¥–ª—è –ø–æ—Å–ª–µ–¥—É—é—â–µ–π —Ä–∞–±–ª—å—ã —Å –¥–∞–Ω–Ω—ã–º–∏.

–ü–æ—Å–º–æ—Ç—Ä–∏–º –Ω–∞ —Ç–∞–±–ª–∏—Ü—É books

In [5]:
query = '''SELECT * FROM books LIMIT 10 '''
books = pd.io.sql.read_sql(sql=text(query), con = con)
books

,book_id,author_id,title,num_pages,publication_date,publisher_id
0,1,546,'Salem's Lot,594,2005-11-01,93
1,2,465,1 000 Places to See Before You Die,992,2003-05-22,336
2,3,407,13 Little Blue Envelopes (Little Blue Envelope...,322,2010-12-21,135
3,4,82,1491: New Revelations of the Americas Before C...,541,2006-10-10,309
4,5,125,1776,386,2006-07-04,268
5,6,257,1st to Die (Women's Murder Club #1),424,2005-05-20,116
6,7,258,2nd Chance (Women's Murder Club #2),400,2005-05-20,116
7,8,260,4th of July (Women's Murder Club #4),448,2006-06-01,318
8,9,563,A Beautiful Mind,461,2002-02-04,104
9,10,445,A Bend in the Road,341,2005-04-01,116

–°–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ –∫–Ω–∏–≥–∞—Ö:
book_id ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∫–Ω–∏–≥–∏;
author_id ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∞–≤—Ç–æ—Ä–∞;
title ‚Äî –Ω–∞–∑–≤–∞–Ω–∏–µ –∫–Ω–∏–≥–∏;
num_pages ‚Äî –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å—Ç—Ä–∞–Ω–∏—Ü;
publisher_id ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∏–∑–¥–∞—Ç–µ–ª—è.

–ü–æ—Å–º–æ—Ç—Ä–∏–º –Ω–∞ —Ç–∞–±–ª–∏—Ü—É authors

In [6]:
query = '''SELECT * FROM authors LIMIT 10 '''
authors = pd.io.sql.read_sql(sql=text(query), con = con)
authors

   author_id                                author
0          1                            A.S. Byatt
1          2        Aesop/Laura Harris/Laura Gibbs
2          3                       Agatha Christie
3          4                         Alan Brennert
4          5              Alan Moore/David   Lloyd
5          6                            Alan Paton
6          7           Albert Camus/Justin O'Brien
7          8                         Aldous Huxley
8          9    Aldous Huxley/Christopher Hitchens
9         10  Aleksandr Solzhenitsyn/H.T. Willetts

–°–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ–± –∞–≤—Ç–æ—Ä–∞—Ö:
author_id ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∞–≤—Ç–æ—Ä–∞;
author ‚Äî –∏–º—è –∞–≤—Ç–æ—Ä–∞.

–ü–æ—Å–º–æ—Ç—Ä–∏–º –Ω–∞ —Ç–∞–±–ª–∏—Ü—É publishers

In [7]:
query = '''SELECT * FROM publishers LIMIT 10 '''
publishers = pd.io.sql.read_sql(sql=text(query), con = con)
publishers

   publisher_id                                publisher
0             1                                      Ace
1             2                                 Ace Book
2             3                                Ace Books
3             4                            Ace Hardcover
4             5        Addison Wesley Publishing Company
5             6                                  Aladdin
6             7                       Aladdin Paperbacks
7             8                             Albin Michel
8             9                          Alfred A. Knopf
9            10  Alfred A. Knopf Books for Young Readers

–°–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ–± –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞—Ö:
publisher_id ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞;
publisher ‚Äî –Ω–∞–∑–≤–∞–Ω–∏–µ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞;

–ü–æ—Å–º–æ—Ç—Ä–∏–º –Ω–∞ —Ç–∞–±–ª–∏—Ü—É ratings

In [8]:
query = '''SELECT * FROM ratings LIMIT 10 '''
ratings = pd.io.sql.read_sql(sql=text(query), con = con)
ratings

   rating_id  book_id       username  rating
0          1        1     ryanfranco       4
1          2        1  grantpatricia       2
2          3        1   brandtandrea       5
3          4        2       lorichen       3
4          5        2    mariokeller       2
5          6        3  johnsonamanda       4
6          7        3    scotttamara       5
7          8        3    lesliegibbs       5
8          9        4    abbottjames       5
9         10        4   valenciaanne       4

–°–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏—Ö –æ—Ü–µ–Ω–∫–∞—Ö –∫–Ω–∏–≥:
rating_id ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –æ—Ü–µ–Ω–∫–∏;

book_id ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∫–Ω–∏–≥–∏;
username ‚Äî –∏–º—è –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è, –æ—Å—Ç–∞–≤–∏–≤—à–µ–≥–æ –æ—Ü–µ–Ω–∫—É;
rating ‚Äî –æ—Ü–µ–Ω–∫–∞ –∫–Ω–∏–≥–∏.

–ü–æ—Å–º–æ—Ç—Ä–∏–º –Ω–∞ —Ç–∞–±–ª–∏—Ü—É reviews

In [9]:
query = '''SELECT * FROM reviews LIMIT 10 '''
reviews = pd.io.sql.read_sql(sql=text(query), con = con)
reviews

,review_id,book_id,username,text
0,1,1,brandtandrea,Mention society tell send professor analysis. ...
1,2,1,ryanfranco,Foot glass pretty audience hit themselves. Amo...
2,3,2,lorichen,Listen treat keep worry. Miss husband tax but ...
3,4,3,johnsonamanda,Finally month interesting blue could nature cu...
4,5,3,scotttamara,Nation purpose heavy give wait song will. List...
5,6,3,lesliegibbs,Analysis no several cause international.
6,7,4,valenciaanne,One there cost another. Say type save. With pe...
7,8,4,abbottjames,Within enough mother. There at system full rec...
8,9,5,npowers,Thank now focus realize economy focus fly. Ite...
9,10,5,staylor,Game push lot reduce where remember. Including...

–°–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏—Ö –æ–±–∑–æ—Ä–∞—Ö –Ω–∞ –∫–Ω–∏–≥–∏:
review_id ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –æ–±–∑–æ—Ä–∞;
book_id ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∫–Ω–∏–≥–∏;
username ‚Äî –∏–º—è –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è, –Ω–∞–ø–∏—Å–∞–≤—à–µ–≥–æ –æ–±–∑–æ—Ä;
text ‚Äî —Ç–µ–∫—Å—Ç –æ–±–∑–æ—Ä–∞.

—Ç–∞–±–ª–∏—Ü–∞ books —Å–æ–µ–¥–∏–Ω—è–µ—Ç—Å—è –ø–æ –∫–ª—é—á–µ–≤–æ–º—É —Å—Ç–æ–ª–±—Ü—É book_id —Å —Ç–∞–±–ª–∏—Ü–∞–º–∏ ratings –∏ reviews. \
—Ç–∞–±–ª–∏—Ü–∞ books —Å–æ–µ–¥–∏–Ω—è–µ—Ç—Å—è –ø–æ –∫–ª—é—á–µ–≤–æ–º—É —Å—Ç–æ–ª–±—Ü—É author_id —Å —Ç–∞–±–ª–∏—Ü–æ–π authors. \
—Ç–∞–±–ª–∏—Ü–∞ books —Å–æ–µ–¥–∏–Ω—è–µ—Ç—Å—è –ø–æ –∫–ª—é—á–µ–≤–æ–º—É —Å—Ç–æ–ª–±—Ü—É publisher_id —Å —Ç–∞–±–ª–∏—Ü–æ–π publishers .

–ú–Ω–µ –∫–∞–∫ –¥–∂—É–Ω–∏–æ—Ä –∞–Ω–∞–ª–∏—Ç–∏–∫—É –¥–æ–≤–µ—Ä–∏–ª–∏ —Å–¥–µ–ª–∞—Ç—å —Å–ª–µ–¥—É—é—â–∏–µ –∑–∞–ø—Ä–æ—Å—ã:

<div class="alert alert-success">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ <a class="tocSkip"> </h2>

<b>–í—Å–µ –æ—Ç–ª–∏—á–Ω–æ!üëç:</b> –î–∞–Ω–Ω—ã–µ –æ—Å–º–æ—Ç—Ä–µ–ª–∏ - –æ—Ç–ª–∏—á–Ω–æ!

<div class="alert alert-warning">
    <h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ <a class="tocSkip"> </h2>
    
<b>–ù–µ–∫–æ—Ç–æ—Ä—ã–µ –∑–∞–º–µ—á–∞–Ω–∏—è –∏ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–∏‚ö†Ô∏è:</b> 
–ï—Å—Ç—å –¥—É–±–ª–∏—Ä—É—é—â–∏–π—Å—è –∫–æ–¥ - —Ç—ã –≤—ã–ø–æ–ª–Ω—è–µ—à—å –æ–¥–∏–Ω –∏ —Ç–æ—Ç –∂–µ –∑–∞–ø—Ä–æ—Å, –º–µ–Ω—è—è –Ω–∞–∑–≤–∞–Ω–∏—è —Ç–∞–±–ª–∏—Ü. –î–∞–≤–∞–π –ø–æ–ø—Ä–æ–±—É–µ–º –æ—Ä–≥–∞–Ω–∏–∑–æ–≤–∞—Ç—å —ç—Ç–æ—Ç –ø—Ä–æ—Ü–µ—Å—Å —á–µ—Ä–µ–∑ —Ü–∏–∫–ª? –ü–æ–¥—Å—Ç–∞–≤–ª—è—Ç—å –Ω–∞–∑–≤–∞–Ω–∏–µ —Ç–∞–±–ª–∏—Ü—ã –≤ —Å—Ç—Ä–æ–∫—É-–∑–∞–ø—Ä–æ—Å –º–æ–∂–Ω–æ —Å –ø–æ–º–æ—â—å—é `f-—Å—Ç—Ä–æ–∫–∏` –∏–ª–∏ –º–µ—Ç–æ–¥–∞ `format()`. –°–∞–º—É —Å—Ç—Ä–æ–∫—É-–∑–∞–ø—Ä–æ—Å –º–æ–∂–Ω–æ —Å–æ–∑–¥–∞–≤–∞—Ç—å –≤–Ω—É—Ç—Ä–∏ —Ü–∏–∫–ª–∞ –Ω–∞ –∫–∞–∂–¥–æ–π –∏—Ç–µ—Ä–∞—Ü–∏–∏.
        
–¢–∞–∫–æ–π –ø–æ–¥—Ö–æ–¥ - –ø–∞—Ä–∞–º–µ—Ç—Ä–∏–∑–∏—Ä–æ–≤–∞–Ω–Ω—ã–µ –∑–∞–ø—Ä–æ—Å—ã, –æ—á–µ–Ω—å –≤–∞–∂–Ω–æ –Ω–∞—É—á–∏—Ç—å—Å—è –∏–º–∏ –ø–æ–ª—å–∑–æ–≤–∞—Ç—å—Å—è, —á—Ç–æ–±—ã –∑–∞–ø—Ä–æ—Å—ã –≥–µ–Ω–µ—Ä–∏—Ä–æ–≤–∞–ª–∏—Å—å –∞–≤—Ç–æ–º–∞—Ç–∏—á–µ—Å–∫–∏ —Å –Ω—É–∂–Ω—ã–º–∏ —Ç–µ–±–µ –ø–∞—Ä–∞–º–µ—Ç—Ä–∞–º–∏.

### –ü–æ—Å—á–∏—Ç–∞–π—Ç–µ, —Å–∫–æ–ª—å–∫–æ –∫–Ω–∏–≥ –≤—ã—à–ª–æ –ø–æ—Å–ª–µ 1 —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞;

In [10]:
query = ''' SELECT 
                 COUNT(book_id)
            FROM 
                books 
            WHERE 
                publication_date > '2000-01-01'
            '''
books = pd.io.sql.read_sql(sql=text(query), con = con)
books

   count
0    819

–í—Å–µ–≥–æ –≤—ã—à–ª–æ –ø–æ—Å–ª–µ 1 —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞ 819 –∫–Ω–∏–≥.

<div class="alert alert-success">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ <a class="tocSkip"> </h2>

<b>–í—Å–µ –æ—Ç–ª–∏—á–Ω–æ!üëç:</b> –ü—Ä–∞–≤–∏–ª—å–Ω–æ!
    
–û—Ç–º–µ—á—É, —á—Ç–æ —É—Å–ª–æ–≤–∏–µ —Ñ–∏–ª—å—Ç—Ä–∞—Ü–∏–∏ `publication_date >= '2000-01-01' ` —Ç–∞–∫–∂–µ –±—ã–ª–æ –±—ã –ø—Ä–∞–≤–∏–ª—å–Ω—ã–º, —Ö–æ—Ç—å –∏ –ø—Ä–∏–≤–µ–ª–æ –±—ã –∫ –¥—Ä—É–≥–æ–º—É —Ä–µ–∑—É–ª—å—Ç–∞—Ç—É - –≤ —Ä–µ–∞–ª—å–Ω—ã—Ö –ø—Ä–æ–µ–∫—Ç–∞—Ö –æ —Ç–æ–º, –≤–∫–ª—é—á–∞–µ—Ç—Å—è –ª–∏ –¥–∞—Ç–∞ –≤ –¥–∏–∞–ø–∞–∑–æ–Ω –∏–ª–∏ –Ω–µ—Ç, –≤—Å–µ–≥–¥–∞ —Å—Ç–æ–∏—Ç —É—Ç–æ—á–Ω—è—Ç—å –∑–∞—Ä–∞–Ω–µ–µ:)

</div>

### –î–ª—è –∫–∞–∂–¥–æ–π –∫–Ω–∏–≥–∏ –ø–æ—Å—á–∏—Ç–∞–π—Ç–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –∏ —Å—Ä–µ–¥–Ω—é—é –æ—Ü–µ–Ω–∫—É;

In [11]:
query =     '''
            SELECT
               b.title,
               b.book_id,
               COUNT(DISTINCT re.review_id),
               AVG(ra.rating) AS avg_rating
            FROM 
                books AS b
            LEFT JOIN 
                reviews AS re ON b.book_id  = re.book_id
            JOIN
                ratings AS ra ON b.book_id  = ra.book_id 
            GROUP BY
                b.title,
                b.book_id
           
            '''

books = pd.io.sql.read_sql(sql=text(query), con = con)
books

,title,book_id,count,avg_rating
0,'Salem's Lot,1,2,3.666667
1,1 000 Places to See Before You Die,2,1,2.500000
2,13 Little Blue Envelopes (Little Blue Envelope...,3,3,4.666667
3,1491: New Revelations of the Americas Before C...,4,2,4.500000
4,1776,5,4,4.000000
...,...,...,...,...
995,Wyrd Sisters (Discworld #6; Witches #2),996,3,3.666667
996,Xenocide (Ender's Saga #3),997,3,3.400000
997,Year of Wonders,998,4,3.200000
998,You Suck (A Love Story #2),999,2,4.500000
999,Zen and the Art of Motorcycle Maintenance: An ...,1000,4,3.833333

<div class="alert alert-success">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ <a class="tocSkip"> </h2>

<b>–í—Å–µ –æ—Ç–ª–∏—á–Ω–æ!üëç:</b> –ú–µ—Ç—Ä–∏–∫–∏ –¥–ª—è –∫–Ω–∏–≥ –ø–æ—Å—á–∏—Ç–∞–Ω—ã –≤–µ—Ä–Ω–æ! –ó–¥–æ—Ä–æ–≤–æ, —á—Ç–æ –º–µ—Ç—Ä–∏–∫–∏ –ø–æ—Å—á–∏—Ç–∞–Ω—ã –∏ –¥–ª—è —Ç–µ—Ö –∫–Ω–∏–≥, –¥–ª—è –∫–æ—Ç–æ—Ä—ã—Ö –Ω–µ—Ç –æ—Ç–∑—ã–≤–æ–≤ - –¥–æ–≤–æ–ª—å–Ω–æ —á–∞—Å—Ç–∞—è –æ—à–∏–±–∫–∞ –≤ —ç—Ç–æ–º –∑–∞–¥–∞–Ω–∏–∏:)

</div>

### –û–ø—Ä–µ–¥–µ–ª–∏—Ç–µ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ, –∫–æ—Ç–æ—Ä–æ–µ –≤—ã–ø—É—Å—Ç–∏–ª–æ –Ω–∞–∏–±–æ–ª—å—à–µ–µ —á–∏—Å–ª–æ –∫–Ω–∏–≥ —Ç–æ–ª—â–µ 50 —Å—Ç—Ä–∞–Ω–∏—Ü ‚Äî —Ç–∞–∫ –≤—ã –∏—Å–∫–ª—é—á–∏—Ç–µ –∏–∑ –∞–Ω–∞–ª–∏–∑–∞ –±—Ä–æ—à—é—Ä—ã;

In [12]:
query =     '''
            SELECT
               publisher,
               COUNT(book_id) AS books
              
            FROM 
                books AS b
            JOIN 
                publishers AS p ON b.publisher_id  = p.publisher_id
            WHERE
                num_pages >50
            GROUP BY
                publisher
          ORDER BY
              books DESC
        LIMIT 1
            '''

books = pd.io.sql.read_sql(sql=text(query), con = con)
books

       publisher  books
0  Penguin Books     42

–Ω–∞–∏–±–æ–ª—å—à–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–Ω–∏–≥ –≤—ã–ø—É—Å—Ç–∏–ª–æ –∏–∑–¥–∞–Ω–∏–µ ‚Äì Penguin Books 42 –∫–Ω–∏–≥–∏.

<div class="alert alert-success">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ <a class="tocSkip"> </h2>

<b>–í—Å–µ –æ—Ç–ª–∏—á–Ω–æ!üëç:</b> –ò–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ –æ–ø—Ä–µ–¥–∏–ª–∏ –≤–µ—Ä–Ω–æ! –°–ø–∞—Å–∏–±–æ, —á—Ç–æ –¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω–æ –≤—ã–≤–µ–¥–µ–Ω–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–Ω–∏–≥ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞:)

</div>

### –û–ø—Ä–µ–¥–µ–ª–∏—Ç–µ –∞–≤—Ç–æ—Ä–∞ —Å —Å–∞–º–æ–π –≤—ã—Å–æ–∫–æ–π —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–æ–π –∫–Ω–∏–≥ ‚Äî —É—á–∏—Ç—ã–≤–∞–π—Ç–µ —Ç–æ–ª—å–∫–æ –∫–Ω–∏–≥–∏ —Å 50 –∏ –±–æ–ª–µ–µ –æ—Ü–µ–Ω–∫–∞–º–∏;

In [13]:
query = '''
    SELECT 
        author,
        AVG(rating) AS AVG_rating
    FROM (SELECT a.author,b.book_id,
           COUNT(rating_id) AS quantity_rating,
           AVG(rating) AS rating
            
           FROM books AS b   
           JOIN ratings AS ra ON b.book_id  = ra.book_id 
           JOIN authors AS a ON b.author_id  = a.author_id
           
           GROUP BY
              b.book_id,a.author
           HAVING
              COUNT(rating_id) >= 50) AS autors
     GROUP BY 
         author 
     ORDER BY
         AVG_rating DESC
     LIMIT 1

              '''


books = pd.io.sql.read_sql(sql=text(query), con = con)
books

                       author  avg_rating
0  J.K. Rowling/Mary GrandPr√©    4.283844

—Å–∞–º—ã–º –ø–æ–ø—É–ª—è—Ä–Ω—ã–º –∞–≤—Ç–æ—Ä–æ–º —Å –±–æ–ª–µ–µ 50 –æ—Ü–µ–Ω–∫–∞–º–∏ ‚Äì J.K. Rowling/Mary GrandPr√© —Å–æ —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–æ–π 4.3 –±–∞–ª–ª–∞

<div class="alert alert-block alert-danger">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ <a class="tocSkip"></h2>

    
<b>–ù–∞ –¥–æ—Ä–∞–±–æ—Ç–∫—É‚ùå:</b> 
    
1. –ü—Ä–æ–≤–µ—Ä—å —É—Å–ª–æ–≤–∏–µ —Ñ–∏–ª—å—Ç—Ä–∞—Ü–∏–∏ –≤ `HAVING` - –æ–Ω–æ –Ω–µ —Å–æ–æ—Ç–≤–µ—Ç—Å—Ç–≤—É–µ—Ç —É—Å–ª–æ–≤–∏—é.
    
2. –¢–∞–∫ –∫–∞–∫ –≤ –ø–µ—Ä–≤–æ–º –∑–∞–ø—Ä–æ—Å–µ –¥–∞–Ω–Ω—ã–µ —Å–≥—Ä—É–ø–ø–∏—Ä–æ–≤–∞–Ω—ã –Ω–∞ —É—Ä–æ–≤–Ω–µ –∞–≤—Ç–æ—Ä–∞, —Ç–æ —Ñ–∏–ª—å—Ç—Ä `HAVING`, –ø—Ä–∏–∑–≤–∞–Ω–Ω—ã–π –æ—Ç–±—Ä–æ—Å–∏—Ç—å –∫–Ω–∏–≥–∏ —Å –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ–º –æ—Ç–∑—ã–≤–æ–≤ –º–µ–Ω–µ–µ 50, –ø–µ—Ä–µ—Å—Ç–∞—ë—Ç —Ä–∞–±–æ—Ç–∞—Ç—å: —É –∫–∞–∂–¥–æ–≥–æ –∞–≤—Ç–æ—Ä–∞ –º–æ–∂–µ—Ç –±—ã—Ç—å –ø–æ –Ω–µ—Å–∫–æ–ª—å–∫–æ –∫–Ω–∏–≥ —Å –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ–º –æ—Ç–∑—ã–≤–æ–≤ –º–µ–Ω–µ–µ 50, –Ω–æ –µ—Å–ª–∏ –ø—Ä–æ—Å—É–º–º–∏—Ä–æ–≤–∞—Ç—å –æ—Ç–∑—ã–≤—ã –ø–æ –≤—Å–µ–º –∫–Ω–∏–≥–∞–º –≤ –ø—Ä–µ–¥–µ–ª–∞—Ö –∞–≤—Ç–æ—Ä–∞ (–∞ –∏–º–µ–Ω–Ω–æ —Ç–∞–∫ –∏ –ø—Ä–æ–∏—Å—Ö–æ–¥–∏—Ç –ø—Ä–∏ –≥—Ä—É–ø–ø–∏—Ä–æ–≤–∫–µ –Ω–∞ —É—Ä–æ–≤–Ω–µ –∞–≤—Ç–æ—Ä–∞), —Ç–æ 50 –∏ –±–æ–ª–µ–µ –æ—Ç–∑—ã–≤–æ–≤ –ª–µ–≥–∫–æ –Ω–∞–±–∏—Ä–∞–µ—Ç—Å—è. 
    
    –ö–æ—Ä—Ä–µ–∫—Ç–Ω–µ–µ –∑–¥–µ—Å—å –ª–∏–±–æ –≥—Ä—É–ø–ø–∏—Ä–æ–≤–∞—Ç—å —Å–Ω–∞—á–∞–ª–∞ –Ω–∞ —É—Ä–æ–≤–Ω–µ –∫–Ω–∏–≥–∏, —Ç–æ–≥–¥–∞ —Ñ–∏–ª—å—Ç—Ä `HAVING` –±—É–¥–µ—Ç —Ä–∞–±–æ—Ç–∞—Ç—å, –ª–∏–±–æ –æ—Å—Ç–∞–≤–∏—Ç—å –≥—Ä—É–ø–ø–∏—Ä–æ–≤–∫—É –ø–æ –∞–≤—Ç–æ—Ä—É, –Ω–æ –≤ –ø–æ–¥–∑–∞–ø—Ä–æ—Å–µ –Ω–∞–π—Ç–∏ –∫–Ω–∏–≥–∏, –∫–æ—Ç–æ—Ä—ã–µ –º–æ–≥—É—Ç —É—á–∞—Å—Ç–≤–æ–≤–∞—Ç—å –≤ —Ä–∞—Å—á—ë—Ç–µ —Ä–µ–π—Ç–∏–Ω–≥–∞ - —Ç–æ–≥–¥–∞ —Ñ–∏–ª—å—Ç—Ä `HAVNIG` –±—É–¥–µ—Ç –≤ —ç—Ç–æ–º –ø–æ–¥–∑–∞–ø—Ä–æ—Å–µ.

<div class="alert alert-success">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ v.2 <a class="tocSkip"> </h2>

<b>–í—Å–µ –æ—Ç–ª–∏—á–Ω–æ!üëç:</b> –£—á—Ç–µ–Ω–æ.

### –ü–æ—Å—á–∏—Ç–∞–π—Ç–µ —Å—Ä–µ–¥–Ω–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –æ—Ç –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ—Å—Ç–∞–≤–∏–ª–∏ –±–æ–ª—å—à–µ 48 –æ—Ü–µ–Ω–æ–∫.

In [14]:
query = '''
        SELECT
            AVG(quantity_review)
        FROM
            (SELECT  
               COUNT(review_id) AS quantity_review
            FROM 
                reviews
            WHERE
               username IN 
               
            (SELECT  
                username
            FROM 
                ratings AS ra   
             GROUP BY
                 username
             HAVING
                COUNT(rating) > 48)
                
             GROUP BY
                 username)
                 
                 AS review
                
            
        '''
books = pd.io.sql.read_sql(sql=text(query), con = con)
books

    avg
0  24.0

–ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–∏ –∫–æ—Ç–æ—Ä—ã–µ –ø–æ—Å—Ç–∞–≤–∏–ª–∏ –±–æ–ª—å—à–µ 48 –æ—Ü–µ–Ω–æ–∫ –∏–º–µ—é—Ç –≤ —Å—Ä–µ–¥–Ω–µ–º 24 –æ–±–∑–æ—Ä–∞

<div class="alert alert-success">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ <a class="tocSkip"> </h2>

<b>–í—Å–µ –æ—Ç–ª–∏—á–Ω–æ!üëç:</b> –°—Ä–µ–¥–Ω–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –æ—Ç –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ—Å—Ç–∞–≤–∏–ª–∏ –±–æ–ª—å—à–µ 48 –æ—Ü–µ–Ω–æ–∫, –ø–æ—Å—á–∏—Ç–∞–Ω–æ –≤–µ—Ä–Ω–æ!

–ò—Å—Ö–æ–¥—è –∏–∑ –ø–æ—Å—Ç–∞–≤–ª–µ–Ω–Ω—ã—Ö –∑–∞–¥–∞—á –º–æ–∂–Ω–æ —Å–∫–∞–∑–∞—Ç—å —á—Ç–æ –≤ –Ω–∞—à–µ–º —Å–µ—Ä–≤–∏—Å–µ –¥–ª—è —á—Ç–µ–Ω–∏—è –∫–Ω–∏–≥ –ø–æ –ø–æ–¥–ø–∏—Å–∫–µ:
 -  –ø–æ—Å–ª–µ 1 —è–Ω–≤–∞—Ä—è 2000 –≥. –≤—Å–µ–≥–æ –≤—ã—à–ª–æ  819 –∫–Ω–∏–≥.
 - –Ω–∞–∏–±–æ–ª—å—à–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–Ω–∏–≥ –≤—ã–ø—É—Å—Ç–∏–ª–æ –∏–∑–¥–∞–Ω–∏–µ ‚Äì Penguin Books 42 –∫–Ω–∏–≥–∏.
 - —Å–∞–º—ã–º –ø–æ–ø—É–ª—è—Ä–Ω—ã–º –∞–≤—Ç–æ—Ä–æ–º —Å –±–æ–ª–µ–µ 50 –æ—Ü–µ–Ω–∫–∞–º–∏ ‚Äì J.K. Rowling/Mary GrandPr√© —Å–æ —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–æ–π 4.3 –±–∞–ª–ª–∞
 - –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–∏ –∫–æ—Ç–æ—Ä—ã–µ –ø–æ—Å—Ç–∞–≤–∏–ª–∏ –±–æ–ª—å—à–µ 48 –æ—Ü–µ–Ω–æ–∫ –∏–º–µ—é—Ç –≤ —Å—Ä–µ–¥–Ω–µ–º 24 –æ–±–∑–æ—Ä–∞

<div class="alert alert-success">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ <a class="tocSkip"> </h2>

<b>–í—Å–µ –æ—Ç–ª–∏—á–Ω–æ!üëç:</b> –û—Ç–ª–∏—á–Ω—ã–π –∏—Ç–æ–≥–æ–≤—ã–π –≤—ã–≤–æ–¥ –ø–æ –ø—Ä–æ–µ–∫—Ç—É!

<div style="border:solid Chocolate 2px; padding: 40px">

# –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞: –æ–±—â–∏–π –≤—ã–≤–æ–¥ –ø–æ –ø—Ä–æ–µ–∫—Ç—É.

–ê–Ω–¥—Ä–µ–π, —Ö–æ—Ä–æ—à–∞—è —Ä–∞–±–æ—Ç–∞ –Ω–∞–¥ –ø—Ä–æ–µ–∫—Ç–æ–º - –ø–æ—á—Ç–∏ –≤—Å–µ –∑–∞–¥–∞–Ω–∏—è —É —Ç–µ–±—è –≤—ã–ø–æ–ª–Ω–µ–Ω—ã –≤–µ—Ä–Ω–æ!

–ú–Ω–µ –Ω—Ä–∞–≤–∏—Ç—Å—è —Ç–≤–æ–π –∞–Ω–∞–ª–∏—Ç–∏—á–µ—Å–∫–∏–π –ø–æ–¥—Ö–æ–¥ –∫ –≤—ã–ø–æ–ª–Ω–µ–Ω–∏—é –ø—Ä–æ–µ–∫—Ç–∞, —Ç—ã —Å–æ–±–ª—é–¥–∞–µ—à—å —Å—Ç—Ä—É–∫—Ç—É—Ä—É —Ä–∞–±–æ—Ç—ã, –≤—ã–ø–æ–ª–Ω—è–µ—à—å –µ—ë –ø–æ—Å–ª–µ–¥–æ–≤–∞—Ç–µ–ª—å–Ω–æ - —ç—Ç–æ –æ—á–µ–Ω—å —Ö–æ—Ä–æ—à–æ! –®–∞–≥–∏ –ø—Ä–æ–µ–∫—Ç–∞ –≤—ã–ø–æ–ª–Ω–µ–Ω—ã –ø–æ –ø–æ—Ä—è–¥–∫—É —Å–æ–≥–ª–∞—Å–Ω–æ –ø–ª–∞–Ω—É –ø—Ä–æ–µ–∫—Ç–∞, –Ω–µ—Ç —Å–º—ã—Å–ª–æ–≤—ã—Ö –∏ —Å—Ç—Ä—É–∫—Ç—É—Ä–Ω—ã—Ö —è–º. –í–∞–∂–Ω–æ, —á—Ç–æ –Ω–µ –∑–∞–±—ã–≤–∞–µ—à—å –ø—Ä–æ –≤—ã–≤–æ–¥—ã.
    
SQL –∑–∞–ø—Ä–æ—Å—ã –Ω–∞–ø–∏—Å–∞–Ω—ã —Ö–æ—Ä–æ—à–æ –∏ –æ–ø—Ç–∏–º–∞–ª—å–Ω–æ, –≤ –Ω–∏—Ö –Ω–µ—Ç –∏–∑–±—ã—Ç–æ—á–Ω—ã—Ö –¥–µ–π—Å—Ç–≤–∏–π, –æ–Ω–∏ –≤–æ–∑–≤—Ä–∞—â–∞—é—Ç –≤–µ—Ä–Ω—ã–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç - —ç—Ç–æ –∑–¥–æ—Ä–æ–≤–æ, –∫–∞–∂–µ—Ç—Å—è, —Ç–µ–±–µ —É–¥–∞–ª–æ—Å—å –∑–¥–æ—Ä–æ–≤–æ —Ä–∞–∑–æ–±—Ä–∞—Ç—å—Å—è –≤ —Ç–µ–º–µ.
    
–ï—Å—Ç—å –Ω–µ–±–æ–ª—å—à–∏–µ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–∏ –ø–æ —É–ª—É—á—à–µ–Ω–∏—é –ø—Ä–æ–µ–∫—Ç–∞ - –Ω–µ–∫—Ä–∏—Ç–∏—á–Ω–∞—è –º–µ–ª–æ—á—å, –∫–æ—Ç–æ—Ä–∞—è –Ω–µ –∑–∞–π–º—ë—Ç –º–Ω–æ–≥–æ –≤—Ä–µ–º–µ–Ω–∏, –Ω–æ —Å–¥–µ–ª–∞–µ—Ç —Ç–≤–æ–π –ø—Ä–æ–µ–∫—Ç —Å—Ç–∏–ª–∏—Å—Ç–∏—á–µ—Å–∫–∏ –±–æ–ª–µ–µ —Å–æ–≤–µ—Ä—à–µ–Ω–Ω—ã–º. –ë—É–¥–µ—Ç –∫–ª–∞—Å—Å–Ω–æ, –µ—Å–ª–∏ —ç—Ç–∏ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–∏ –±—É–¥—É—Ç —É—á—Ç–µ–Ω—ã –≤ —Ç–≤–æ–µ–π —Ä–∞–±–æ—Ç–µ:)
    
–ö –æ–¥–Ω–æ–º—É –∑–∞–¥–∞–Ω–∏—é —Å—Ç–æ–∏—Ç –≤–µ—Ä–Ω—É—Ç—å—Å—è - –∫ –Ω–µ–º—É —è –æ—Å—Ç–∞–≤–∏–ª –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π –∫—Ä–∞—Å–Ω–æ–≥–æ —Ü–≤–µ—Ç–∞ —Å –ø–æ—è—Å–Ω–µ–Ω–∏—è–º–∏ –≤–Ω—É—Ç—Ä–∏. –î—É–º–∞—é, —Ç—ã –±—ã—Å—Ç—Ä–æ —Ä–∞–∑–±–µ—Ä—ë—à—å—Å—è, –≤ —á—ë–º –¥–µ–ª–æ.

–¢–∞–∫–∂–µ –±—É–¥—É —Ä–∞–¥ –æ—Ç–≤–µ—Ç–∏—Ç—å –Ω–∞ –ª—é–±—ã–µ —Ç–≤–æ–∏ –≤–æ–ø—Ä–æ—Å—ã –ø–æ –ø—Ä–æ–µ–∫—Ç—É –∏–ª–∏ –Ω–∞ –∫–∞–∫–∏–µ-–ª–∏–±–æ –¥—Ä—É–≥–∏–µ, –µ—Å–ª–∏ –æ–Ω–∏ —É —Ç–µ–±—è –∏–º–µ—é—Ç—Å—è - –æ—Å—Ç–∞–≤—å –∏—Ö –≤ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏—è—Ö, –∏ —è –ø–æ—Å—Ç–∞—Ä–∞—é—Å—å –æ—Ç–≤–µ—Ç–∏—Ç—å:)
    
–ñ–¥—É —Ç–≤–æ–π –ø—Ä–æ–µ–∫—Ç –Ω–∞ –ø–æ–≤—Ç–æ—Ä–Ω–æ–º —Ä–µ–≤—å—é. –î–æ –≤—Å—Ç—Ä–µ—á–∏:)

<div style="border:solid Chocolate 2px; padding: 40px">

# –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞: –æ–±—â–∏–π –≤—ã–≤–æ–¥ –ø–æ –ø—Ä–æ–µ–∫—Ç—É v.2.

–ê–Ω–¥—Ä–µ–π, –≤—Å–µ –∑–∞–º–µ—á–∞–Ω–∏—è —É—á—Ç–µ–Ω—ã - –ø—Ä–æ–µ–∫—Ç –ø—Ä–∏–Ω—è—Ç!
    
–°–ø–∞—Å–∏–±–æ –∑–∞ —Ä–∞–±–æ—Ç—É –Ω–∞–¥ –ø—Ä–æ–µ–∫—Ç–æ–º, –∂–µ–ª–∞—é –ø—Ä–∏—è—Ç–Ω–æ–≥–æ –∑–∞–≤–µ—Ä—à–µ–Ω–∏—è —Ñ–∏–Ω–∞–ª—å–Ω–æ–≥–æ —Å–ø—Ä–∏–Ω—Ç–∞:)